.blogCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20vw;
  transition: 0.3s;
  margin: 15px;
}

/* On mouse-over, add a deeper shadow */
.blogCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.blogContainer {
  padding: 2px 16px 10px;
}
.blogTitle {
  word-wrap: break-word;
}
.blogDescription {
  word-wrap: break-word;
}
